@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Flowbite */
@import 'flowbite';



/* Custom styles */
:root {
  --primary-color: #4f46e5; /* Indigo */
  --secondary-color: #06b6d4; /* Cyan */
  --accent-color: #f97316; /* Coral */
  --background-color: #f3f4f6; /* Light Gray */
  --text-color: #374151; /* Dark Gray */
}

/* Dark mode styles */
.dark {
  --primary-color: #1a202c; /* Example dark mode primary color */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
